@page
@model data.test.com.Pages.Albums.IndexModel
@{
    ViewData["Title"] = "Albums";
}

	<div class="text-center">
		<h1 class="display-4">Albums</h1>
		<form asp-action="Index" method="get">
			<div class="form-actions no-color">
				<p>
					Find by Artist: @Html.DropDownList("artistID", Model.Artists, "All Artists")
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-page="/albums/new">New</a>
				</p>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Title
					</th>
					<th>
						Artist
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.List)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.AlbumID)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Artist)
						</td>
						<td>
							<a asp-page="/albums/edit" asp-route-albumID="@item.AlbumID">Edit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
