@page
@model data.test.com.Pages.Parts.IndexModel
@{
    ViewData["Title"] = "Parts";
}

	<div class="text-center">
		<h1 class="display-4">Albums</h1>
		<form asp-action="Index" method="get">
			<div class="form-actions no-color">
				<p>
					Find by Category: @Html.DropDownList("categoryID", Model.Categories, "All Categories")
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-page="/parts/new">New</a>
				</p>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Title
					</th>
					<th>
						Category
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.List)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.PartID)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td>
							<a asp-page="/parts/edit" asp-route-partID="@item.PartID">Edit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
